@import "../../styles/settings.scss";

.feature-container {
    justify-content: center;
    padding: 15px 20px;
}

.btn-secondary {
    color: #000;
    background-color: #fff;
    border-color: #e6e6e6;
    width: 100%;
    text-align: left;
}