@import "../../styles/settings.scss";

.feature-container1 {
    justify-content: center;
    padding: 15px 20px;
}

.btn-secondary {
    color: #000;
    background-color: $color-text-bright;
    border-color: $color-border-grey;
    width: 100%;
    text-align: left;
}