@import "../../styles/settings.scss";

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-transform: uppercase;
}

.navMain {
  margin-bottom: 20px;
}

.headerRow {
  background-color: $color-primary;
  justify-content: space-between;
  display: flex;
  font-family: $font-text;
  color: $color-text-bright;
}

.right {
  text-align: right;
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-right: 10px;
  }
}

.second {
  display: block;
  .navHeader {
    font-family: $font-text;
    color: $color-basic;
    font-size: 23px;
    text-align: center;
    background-color: $color-background;
    height: 80px;
    line-height: 3.5;
  }
}

span .wifi {
  font-size: 12px;
}

.dot {
  font-size: 10px;
  padding-bottom: 3.5px;
}
